body {
    width: 90%;
    margin: auto;
}

.datos div {
    border: 2px solid #979797;
    background-color: #f3f2f2;
    margin-top: 10px;

}

.datos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}